body {
    min-width: 900px;
    margin: 0 auto;
}

.center {
    color: #fa2;
    text-align: center;
}

header {
    width: 100%;
    background-color: lightcoral;
    height: 800px;
    background-image: url(shikunDJI_0246_TP_V.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-content {
  text-align: center;
  margin-top: 0%;
}

.home-content p {
  font-size: 1.125rem;
  color: #ffffff;
  margin-top: 10px 0 42px;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 1.2s;     
}

.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 0.3s;
}

footer {
    background: #000;
    padding: 26PX 0;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
}

.flexbox-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 20px
}

main {
    width: 70%;
    margin: auto;
    margin-top: 0;
}

.main-expo {
    font-size: 1.375rem;
    padding: 0 100px 50px;
    font-weight: normal;
    border-bottom: 2px #0bd solid;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.japanmap {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.japanmap.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.nihon-anime {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.nihon-anime.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.main-expo.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 100px 50px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
    margin-top: 15%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.sub-title.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.sub-menu.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.sub-menu li {
    border-bottom: 1px #add solid;
}

.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #0bd;
}

aside {
    width: 30%;
}
aside p {
    padding: 12px 10px;
}




